[Unit]
Description=Launch Flameshot on GNOME Startup
After=gnome-session.target

[Service]
Type=simple
ExecStart=/opt/flameshot/bin/flameshot
; ExecStart=/home/tallonea/.local/bin/flameshot.sh launcher
ExecStop=/usr/bin/pkill flameshot

[Install]
WantedBy=gnome-session.target
