[Unit]
Description=Set user-level environment variables
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/zsh -c 'source $ZDOTDIR/.gnome-fetch_secrets.sh'
RemainAfterExit=true

[Install]
WantedBy=default.taret
