[Unit]
Description=Set user-level environment variables
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=true
Environment=$ZDOTDIR/.zsecrets

[Install]
WantedBy=default.target
