[Unit]
Description=Set user-level environment variables
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/zsh -c 'source $ZDOTDIR/.fetch_secrets.sh'
RemainAfterExit=true

[Install]
WantedBy=default.target
