[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/zsh/ohmyzsh"]
	path = .config/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/zsh/catppuccin_tty"]
	path = .config/zsh/catppuccin_tty
	url = https://github.com/catppuccin/tty.git
