[submodule ".config/zsh/ohmyzsh"]
	path = .config/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/zsh/catppuccin_tty"]
	path = .config/zsh/catppuccin_tty
	url = https://github.com/catppuccin/tty.git
[submodule ".config/zsh/antigen"]
	path = .config/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "githubdepot/bat-extras"]
	path = gitdepot/bat-extras
	url = https://github.com/eth-p/bat-extras.git
[submodule "githubdepot/goroot"]
	path = gitdepot/goroot
	url = https://go.googlesource.com/go
[submodule ".config/zsh/zsh-history"]
	path = .config/zsh/zsh-history
	url = git@github.com:Alby11/zsh-history.git
