#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Outlook (Edge)
MimeType=x-scheme-handler/mailto
Exec=flatpak 'run' '--command=/app/bin/edge' 'com.microsoft.Edge' '--profile-directory=Default' '--app-id=faolnafnngnfdaknnbpnkhgohbobgegn' '--app-url=https://outlook.office.com/mail/' '%U'
Icon=msedge-faolnafnngnfdaknnbpnkhgohbobgegn-Default
NoDisplay=true
StartupWMClass=crx__faolnafnngnfdaknnbpnkhgohbobgegn
Actions=New-event;New-message;Open-calendar

X-Flatpak-Part-Of=com.microsoft.Edge
TryExec=/var/lib/flatpak/exports/bin/com.microsoft.Edge

[Desktop Action New-event]
Name=New event
Exec=flatpak 'run' '--command=/app/bin/edge' 'com.microsoft.Edge' '--profile-directory=Default' '--app-id=faolnafnngnfdaknnbpnkhgohbobgegn' '--app-url=https://outlook.office.com/mail/' '--app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar/deeplink/compose'

[Desktop Action New-message]
Name=New message
Exec=flatpak 'run' '--command=/app/bin/edge' 'com.microsoft.Edge' '--profile-directory=Default' '--app-id=faolnafnngnfdaknnbpnkhgohbobgegn' '--app-url=https://outlook.office.com/mail/' '--app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/mail/deeplink/compose'

[Desktop Action Open-calendar]
Name=Open calendar
Exec=flatpak 'run' '--command=/app/bin/edge' 'com.microsoft.Edge' '--profile-directory=Default' '--app-id=faolnafnngnfdaknnbpnkhgohbobgegn' '--app-url=https://outlook.office.com/mail/' '--app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar'
