#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Microsoft Azure portal (PWA)
Exec=flatpak 'run' '--command=/app/bin/chrome' 'com.google.Chrome' '--profile-directory=Default' '--app-id=ejjefgjnimbklpdgenehmplpccdknekl'
Icon=azure.png
StartupWMClass=crx_ejjefgjnimbklpdgenehmplpccdknekl
X-Flatpak-Part-Of=com.google.Chrome
TryExec=/var/lib/flatpak/exports/bin/com.google.Chrome
