[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox Beta
GenericName=Web Browser
Comment=Web Browser from Mozilla
Exec=/opt/firefox-beta/firefox %u
Icon=/opt/firefox-beta/browser/chrome/icons/default/default128.png
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;
