[Desktop Entry]
Version=1.0
Type=Application
Name=Flameshot
GenericName=Flameshot
Comment=Powerful yet simple to use screenshot software
Exec=/home/tallonea/gitdepot/flameshot/build/src/flameshot
Icon=/home/tallonea/gitdepot/flameshot/data/img/app/flameshot.png
Terminal=false
Categories=Graphics
